Import the necessary libraries:

In [16]:
import pandas as pd

Load the dataset into a Pandas DataFrame:

In [17]:
data = pd.read_csv("C:\\Users\\Narthana\\Downloads\\HR-Employee-Attrition.csv")

Data Cleaning:

a. Deleting redundant columns:

In [18]:
columns_to_drop = ['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours']
data.drop(columns=columns_to_drop, inplace=True)

b. Renaming the columns:

In [19]:
column_mapping = {
    'Age': 'Age',
    'Attrition': 'Attrition',
    'BusinessTravel': 'BusinessTravel',
    'DailyRate': 'DailyRate',
    'Department': 'Department',
}
data.rename(columns=column_mapping, inplace=True)

c. Dropping duplicates:

In [20]:
data.drop_duplicates(inplace=True)

d. Cleaning individual columns:

In [21]:
data['Attrition'] = data['Attrition'].str.lower()

e. Remove NaN values:

In [22]:
data.dropna(inplace=True)

Feature Scaling:

In [23]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
numerical_columns = ['Age', 'DailyRate', 'HourlyRate', 'MonthlyIncome', 'PercentSalaryHike', 'TotalWorkingYears', 'YearsAtCompany']
data[numerical_columns] = scaler.fit_transform(data[numerical_columns])

One-Hot Encoding:

In [24]:
data = pd.get_dummies(data, columns=['BusinessTravel', 'Department', 'Gender'], drop_first=True)

Feature Engineering:

In [27]:
data['Tenure'] = data['YearsInCurrentRole'] + data['YearsSinceLastPromotion'] + data['YearsWithCurrManager']

Binning:

In [25]:
data['AgeCategory'] = pd.cut(data['Age'], bins=[20, 30, 40, 50, 60, 70], labels=['20-29', '30-39', '40-49', '50-59', '60-69'])

Save the cleaned dataset

In [26]:
data.to_csv('cleaned_dataset.csv', index=False)